.Rproj.user
.Rhistory
.RData
.Ruserdata
*Kopie*
icons.txt
icons
cache/
data/patients/
data/records/
man/
sqlpad/
volumes/
db/anomanor.sqlite
*.log
report.html
shinycannon.jar
docker_keycloak
*.html
letsencrypt
log
dev
testthat*.rds
scripts/
covr/
*.gcno
*.gcda
Renviron_production
Renviron_keycloak_test
keycloak/
docker-compose copy.yml
