# !!!!! This file must be saved with UNIX endings !!!
# For production use with safe passwords
# Used with R_CONFIG_ACTIVE="keycloak_production"" in .Renviron
# Replace all entries in <<>> with your values, and rename the file to
# Renviron_production.

# Keycloak
# MASTER_xxx are not used by shiny, only for direct keycloak access
MASTER_ADMIN_USERNAME=<<admin>>
MASTER_ADMIN_PASSWORD=<<admin_password>>
# ANOMANOR_ADMIN_USERNAME must have role mappings/client roles/realm-managment
# with all available roles assigned to it in keycloak
ANOMANOR_ADMIN_USERNAME=<<anomanor_admin>>
ANOMANOR_ADMIN_PASSWORD=<<anomanor_admin_password>>
# Client secret can change on version change.
# See Keycloak  anomanor clients 'Client details' Credentials
ANOMANOR_SECRET=<<client secret>>
KEYCLOAK_SITE=<<your.keycloak.subdomain>>
ANOMANOR_DATA=/root/anomanor_data/anomanor

SQLPAD_ADMIN_USERNAME=<<sqlpad_admin_username>>
SQLPAD_ADMIN_PASSWORD=<<sqlpad_admin_password>>

# Login credentials for portainer are set on first start

