#image-container {
  position: relative;
  margin-top: 10px;
  margin-bottom:4px;
}

#image-container #canvas1, #canvas2, #mainimage {
  position: absolute;
}

#canvas1, #canvas2  {
  border: none;
  /* left-margin is set by code */
}

.selectize-control {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 5px;
}

#section {
  margin-top: 10px;
}

#read_value {
  margin-top: 10px;
}

.bttn-unite.bttn-default {
  margin-top: 10px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#danger-zone {
  margin-top:40px;
}

#sidebar_panel {
  max-width: 300px;
}

#shiny-notification-panel {
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 550px;
}

.inline label{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

#help_about {
  align: right;
}
#help_readout, #help_markers {
  float: right;
}

#readout_hrm_value, #readout_conventional_value  {
  width: 100%;
  background-color: #D6E3FF;
  text-align: center;
}

#readout_conventional_value > table{
  margin: auto;
}

#help_about{
  margin-left: 30px;
  text-align: right;
}


#patient_panel {
  display: none;
}

.shiny-table.spacing-s>tbody>tr>th,
.shiny-table.spacing-s>tbody>tr>td {
  padding: 1px 3px 1px 3px;
}

#section_value {
  margin-left:18px;
}

#dm-todo {
  display: inline-block;
  background-color: #FAFAFF; ;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  font-weight: bold;
  width: 100px;
  margin-top: 10px;
  vertical-align: middle;
}

#patient_text {
  width: 100%;
  overflow:hidden;
  height: 22px;
  background-color: #F0F0FF;
  padding-left: 30px;
}

#patient_text > p {
  margin-bottom: 0;
}

#network hr {
  float:left;
}

#help_classification {
  margin-left:5px;
}

#save_panel {
  margin-left: -20px;
  padding-top: 30px;
}


.bttn-material-flat {
  margin-top: 5px;
  margin-bottom: 5px;
}

#finalize {
  background:  black;
}

.bttn-material-flat:disabled, .bttn-unite:disabled {
    opacity: 0.3;
}

#invite_user{
    margin-top: 20px;
}

#new_user_panel{
    width: 600px;
}

h2 {
  font-size: 20px;
}

#comment{
  padding-top: 0;
}

.col-sm-3 {
  padding-left: 0;
}

#shiny-notification-invite {
  margin-top: 85px;
}

/* caption { font-size: 24px; font-weight: bold;} */

.progress-number {
  right:  40px;
}

.progress {
  margin-bottom:8px;
  border:none;
}

.shiny-output-error-validation {
  color: red;
}
.form-control[readonly] {
  background-color: #E7F2FF;
  font-size: 1.4em;
  height: 80px;
}

.form-control::placeholder {
  color: darkgray
}


.main-container{
  max-width: 1240px;
}


.bootstrap-switch-id-classification_method
.bootstrap-switch-handle-off.bootstrap-switch-default {
  background: #28b78d;
}

#sidebar_panel h2 {
  margin-top: 0px;
}

.well {
  border: none;
  padding: 10px;
  margin:10px;
}

.well .disabled {
  color:#aaa;
  background: #F5F5F5;
  pointer-events: none;
}

.col-sm-3 {
    padding-right: 0;
    width: 290px;
}

.shiny-split-layout>div {
  overflow: hidden;
}

hr {
 margin-bottom: 5px;
 margin-top: 5px;
}

#admin-download_database {
  margin-top: 10px;
}

#section_value_div {
  height: 100px;
}

